<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>@Document.GetString("Title") | @Context.GetString("SiteTitle")</title>

  <link href="@Context.GetLink("/scss/tech.css")" rel="stylesheet" type="text/css">
  <link href="@Context.GetLink("/scss/prism.css")" rel="stylesheet" type="text/css">
  <script defer src="https://cdn.jsdelivr.net/npm/prismjs@1.19.0/components/prism-core.min.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/prismjs@1.19.0/plugins/autoloader/prism-autoloader.min.js"
    data-no-mirror></script>

  <link rel="icon" href="@Context.GetLink("/favicon.ico")" type="image/x-icon">

  <script data-ad-client="ca-pub-2127299793131419" async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

  <!-- Global site tag (gtag.js) - Google Analytics  
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-197465108-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-197465108-1');
  </script>
  -->

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-Q63MXL5083"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-Q63MXL5083');
  </script>


  <meta property="og:title" content="@Document.GetString("Title")" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="@Document.GetLink(true)" />
  <meta property="og:site_name" content="@Context.GetString("SiteTitle")" />
  <meta property="og:locale" content="ja_JP" />

</head>

<header style="background-image:url('@Context.GetLink("/img/main2.png")')">
  @{
    IDocument document_index = Outputs.Get("index.html");
    IDocument document_tech = Outputs.Get("tech.html");
  }
  <div class="flex-wrap">
    <div>
      <a href="@Context.GetLink(document_tech)" class="title">
        TECH BLOG
      </a>
    </div>
    <div class="ext-link">
      <a href="@Context.GetLink(document_index)"><img src="@(Context.GetLink("/img/home.png"))" class="ext-link-icon"
          alt="homeへのリンク"></a>&nbsp;&nbsp;
      <a href="https://twitter.com/YY87750722"><img src="@(Context.GetLink("/img/twitter.png"))" class="ext-link-icon"
          alt="twitterへのリンク"></a>&nbsp;&nbsp;
      <a href="https://github.com/yamaccu"><img src="@(Context.GetLink("/img/github.png"))" class="ext-link-icon"
          alt="githubへのリンク"></a>
    </div>
  </div>
  <br>
</header>

<body class="body-font">
  <div class="post-wrap">
    <div class="body-post">
      <br>
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2127299793131419"
          crossorigin="anonymous"></script>
        <ins class="adsbygoogle"
          style="display:block;min-width:400px;max-width:970px;width:100%;height:90px"
          data-ad-client="ca-pub-2127299793131419" 
          data-ad-slot="2560895837">
        </ins>
        <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
      <br>

      @RenderBody()

      @if ((Document.Destination != "tech.html") && (Document.Destination != "app.html"))
      {
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2127299793131419"
          crossorigin="anonymous"></script>
        <!-- head -->
        <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2127299793131419" data-ad-slot="2560895837"
          data-ad-format="horizontal" data-full-width-responsive="true"></ins>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
        </script>

        <h3>コメント<span class="comment">（githubのアカウントが必要です）</span></h3>

        <script src="https://utteranc.es/client.js" repo="yamaccu/yamaccu.github.io" issue-term="pathname"
          theme="github-light" crossorigin="anonymous" async>
          </script>
        <hr>
      }

    </div>
    <div style="flex-basis:250px; margin-left:20px;">

      <p>Tech Blog Index</p>

      @foreach (IDocument document in Outputs.Get("tech_archive.html").GetChildren())
      {
        @foreach (IDocument tags in document.GetChildren())
        {
          <p style="margin-top:-10px; margin-left:10px;"><span style="font-size:12px;">@tags.GetString("Date")</span><br>
            &nbsp;&nbsp;・ <a href="@Context.GetLink(tags)">@tags.GetString("IndexTitle")</a></p>
        }
      }

      <br>

      <div class="adslot_1">

        <p>Recommended</p>

        <a href="//af.moshimo.com/af/c/click?a_id=2991341&amp;p_id=170&amp;pc_id=185&amp;pl_id=4062&amp;url=https%3A%2F%2Fwww.amazon.co.jp%2Fdp%2FB0822GNY19"
          rel="nofollow" referrerpolicy="no-referrer-when-downgrade">
          <img src="https://images-fe.ssl-images-amazon.com/images/I/51VMWnW1gOL._SL160_.jpg" alt=""
            style="border: none;" />
          <p style="font-size:14px;margin-top:-5px;">MP3デコーダ基板 3p</p>
        </a>
        <img src="//i.moshimo.com/af/i/impression?a_id=2991341&amp;p_id=170&amp;pc_id=185&amp;pl_id=4062" alt=""
          width="1" height="1" style="border: 0px;" />
        <br><br>

        <a href="//af.moshimo.com/af/c/click?a_id=2991341&amp;p_id=170&amp;pc_id=185&amp;pl_id=4062&amp;url=https%3A%2F%2Fwww.amazon.co.jp%2Fdp%2FB00WQWZXKW"
          rel="nofollow" referrerpolicy="no-referrer-when-downgrade">
          <img src="https://images-fe.ssl-images-amazon.com/images/I/51NL-P4TrjL._SL160_.jpg" alt=""
            style="border: none;" />
          <p style="font-size:14px;margin-top:-5px;">マイクロサーボ SG92R 1p</p>
        </a>
        <img src="//i.moshimo.com/af/i/impression?a_id=2991341&amp;p_id=170&amp;pc_id=185&amp;pl_id=4062" alt=""
          width="1" height="1" style="border: 0px;" />
        <br><br>
      </div>
      <div class="stickyads">
        <div class="adslot_1">

          <p>Sponsor</p>

          <script async
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2127299793131419"
            crossorigin="anonymous"></script>
          <!-- head -->
          <ins class="adsbygoogle" style="display:block;; margin-left:15px" data-ad-client="ca-pub-2127299793131419"
            data-ad-slot="2560895837" data-ad-format="vertical" data-full-width-responsive="true"></ins>
          <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
          </script>

        </div>
      </div>
    </div>
  </div>
</body>

</html>
